body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header{
  display: block;
  position: sticky;
  top:0;
  z-index: 3;
  height: 60px;
  background-color: #FFD139;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
}

.NUMBERINPUT{
  display :inline-block;
  width : 100px;
}
.content{
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
}
.single{
  display: inline-block;
  margin-left: 10px;
}